/* Reset margin for all elements */
* {
  margin: 0;
  padding: 0; /* Add padding: 0; to reset padding as well */
  box-sizing: border-box; /* Helps ensure that padding and borders don't affect element size */
}

/* Reset margin for specific elements */
h1,
h2,
h3,
p {
  margin: 0;
}

/* Define CSS custom properties (variables) */
:root {
  --bg-color: #010c15;
  --text-color-cmt: #607b96;
  --wrapper-bg-color: #011627;
  --border-color: #1e2d3d;
  --sidebar-width: 310px;
  --header-height: 55px;
  --active-link-border: #fea55f;
  --main-wrapper-height: 90vh;
  --main-wrapper-width: 95%;
  --body-header-height: 40px;
  --border: 1px solid var(--border-color);

  --card-bg-color: #011221;
  --card-button-bg-color: #1c2b3a;
  --card-heading-color: #5565e8;

  --input-text-color: #465e77;

  --data-type-color: #c98bdf;
  --variable-color: #5565e8;
  --string-color: #fea55f;
}

/* Apply styles to the body */
body {
  background-color: var(--bg-color);
  width: 100%;
  /* min-height: 100vh; */
  height: 100vh;
  margin: 0; /* Reset margin for body to ensure no unexpected margins */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link_txt {
  color: var(--text-color-cmt);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  text-decoration: none;
}

/* Media query for screens up to 1200px */
@media (max-width: 1200px) {
  :root {
    --sidebar-width: 230px;
  }
}

@media (max-width: 880px) {
  body {
    height: fit-content;
  }
}

/* Media query for screens up to 600px */
@media (max-width: 600px) {
  :root {
    --main-wrapper-width: 100%;
    --main-wrapper-height: 100vh;
  }
  body {
    padding: 15px;
    height: fit-content;
    min-height: 100vh;
    align-items: start;
  }
}


/* overrided the snake game component */
.snakeBoard {
  border-radius: inherit !important;
  background: rgba(1, 22, 39, 0.84) !important;
  box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset !important;
  overflow: hidden;
  position: relative;
}
.snakeBoardCell {
  border: none !important;
  height: inherit !important;
  width: 23 !important;
}