.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  .header {
    width: inherit;
    height: var(--body-header-height);
    border-bottom: var(--border);
    display: flex;

    .tab {
      height: inherit;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 0 14px;
      border-right: var(--border);
      white-space: nowrap;
      .folder_name{
        display: none;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color-cmt);
        cursor: pointer;
      }
      img{
        cursor: pointer;
      }
    }
  }

  .body{
    flex: 1;
    margin-right: 26px;
    border-right: var(--border);
    padding: 18px 40px;
    transition: all 0.35s;
    p{
      color: var(--text-color-cmt);
      text-align: left;
    }

    .code_wrapper{
      display: flex;
      .code_line_num{
        width: 50px;
        p{
          width: inherit;
        }

      }
      .star{
        width: 20px;
      }
    }
  }
}

@media(max-width:886px){
  .wrapper {    
    .header {
      border-bottom:none;  
      height: fit-content;
      .tab {        
        height: fit-content;  
        padding: 0 27px;
        padding-top: 38px;
        border-right: none;
        .folder_name{
          display: block;
          color: #fff;
        }
        p {
          font-weight: 450;
          display: flex;
        }
        img{
          display: none;
        }
      }
    }
  
    .body{
      margin-right: 0;
      border-right: none;
      padding: 17px 27px;  
      .code_wrapper{
        .code_line_num{
          display: none;  
        }
        .star{
          display: none;
        }
        .commented_code{
          font-weight: 450;
          line-height: 150%;
        }
      }
    }
  }
}