.wrapper {
  width: 250px;
  min-width: 100%;
  overflow-x: scroll;
  padding-left: 20px;
  &::-webkit-scrollbar{
    display: none;
  }


  font-size: 16px;
    .data_type {
      color: var(--data-type-color);
    }
    .variable_name {
      color: var(--variable-color);
    }
    .string {
      color: var(--string-color);
    }
  }