.main_wrapper {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
  .left_section {
    display: flex;
    p,
    .icon {
      border-right: 1px solid var(--border-color);
      height: var(--header-height);
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .right_section {
    display: flex;
    border-left: 1px solid var(--border-color);
    height: var(--header-height);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .main_wrapper {
    .left_section {
      flex: 7;
      p{
        flex:7;
      }
      .icon{
        flex: 1;
      }
    }
    .right_section {
      flex: 1;
      p{
        display: none;
      }
    }
  }
}
