.nav_link_txt {
  color: var(--text-color-cmt);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bg_dim{
    display: none;
  }

  .name_link {
    height: var(--header-height);
    width: var(--sidebar-width);
    display: flex;
    align-items: center;
    padding-left: 30px;
    @extend .nav_link_txt;
  }
  .active_link {
    border-bottom: 3px solid var(--active-link-border);
    transition: 0.2s;
    @media (max-width: 886px) {
      border-bottom: var(--border);
    }
  }

  .header_links_left {
    display: flex;
    .page_links {
      display: flex;
      a {
        height: var(--header-height);
        padding: 0 30px;
        display: flex;
        align-items: center;
        border: var(--border);
        @extend .nav_link_txt;
      }
      .active_link {
        border-bottom: 3px solid var(--active-link-border);
        transition: 0.2s;
        @media (max-width: 886px) {
          border-bottom: var(--border);
        }
      }
      .mobile_contact_link {
        display: none;
      }
    }
  }
  .header_links_right {
    a {
      height: var(--header-height);
      padding: 0 30px;
      display: flex;
      align-items: center;
      border-left: var(--border);
      @extend .nav_link_txt;
    }
    .menu_icon {
      display: none;
    }
  }
}

@media (max-width: 886px) {
  .header {

    .bg_dim_active{
      display: none;
    }

    .active_link {
      border-bottom: var(--border);
    }

    .header_links_left {
      .page_links {
        z-index: 10;
        background-color: var(--wrapper-bg-color);
        height: calc(
          calc(var(--main-wrapper-height) - 2 * var(--header-height)) - 1px
        );
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--header-height);
        width: var(--main-wrapper-width);
        width: 100%;

        animation: fadeIn 0.5s ease-in-out;
        opacity: 0;
        transform: translateY(-10px);
        animation-fill-mode: forwards;  
        .animate_links {
          animation: fadeIn 0.5s ease-in-out;
          opacity: 0;
          transform: translateY(-10px);
          animation-fill-mode: forwards; /* Keeps the final state after animation */
        }
        .animate_links_reverse {
          animation: fadeOut 0.5s ease-in-out;
          opacity: 0;
          transform: translateY(-10px);
          animation-fill-mode: forwards; /* Keeps the final state after animation */
        }

        .mobile_contact_link {
          display: flex;
          &:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        a {
          color: #fff;
          font-weight: 400;
        }
      }
      .active_link {
        border-bottom: var(--border);
      }
    }
    .header_links_right {
      a {
        display: none;
      }
      .menu_icon {
        background-color: transparent;
        border: none;
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        gap: 6px;
        cursor: pointer;
        &:focus,
        &:active {
          background: transparent;
        }
        .line {
          width: 20px;
          height: 1px;
          background-color: var(--text-color-cmt);
          transition: transform 0.3s ease-in-out;
        }
      }

      .menu_icon.open {
        .line:nth-child(1) {
          transform: translateY(6px) rotate(-45deg);
          position: relative;
          top: 1.5px;
        }

        .line:nth-child(2) {
          transform: translateY(6px) rotate(-45deg);
          opacity: 0;
        }

        .line:nth-child(3) {
          transform: translateY(-6px) rotate(45deg);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    .header_links_left {
      .page_links {
        top: var(--header-height);
        height: fit-content;
      }
    }

    .bg_dim_active{
      display: block;
      position: fixed;
      left: 0;
      top: calc(var(--header-height) + 15px);
      width: var(--main-wrapper-width);
      height: 95vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
