.nav_link_txt {
  color: var(--text-color-cmt);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name_link {
    height: var(--header-height);
    width: var(--sidebar-width);
    display: flex;
    align-items: center;
    padding-left: 30px;
    @extend .nav_link_txt;
  }
  .active_link {
    border-bottom: 3px solid var(--active-link-border);
    transition: 0.2s;
    @media (max-width: 886px) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  .header_links_left {
    display: flex;
    .page_links {
      display: flex;
      a {
        height: var(--header-height);
        padding: 0 30px;
        display: flex;
        align-items: center;
        border: 1px solid var(--border-color);
        @extend .nav_link_txt;
      }
      .active_link {
        border-bottom: 3px solid var(--active-link-border);
        transition: 0.2s;
        @media (max-width: 886px) {
          border-bottom: 1px solid var(--border-color);
        }
      }
      .mobile_contact_link{
        display: none;
      }
    }
  }
  .header_links_right {
    a {
      height: var(--header-height);
      padding: 0 30px;
      display: flex;
      align-items: center;
      border-left: 1px solid var(--border-color);
      @extend .nav_link_txt;
    }
    .menu_icon {
      display: none;
    }
  }
}

@media (max-width: 886px) {
  .header {
    .active_link {
      border-bottom: 1px solid var(--border-color);
    }

    .header_links_left {
      .page_links {
        flex-direction: column;
        position: absolute;
        top: calc(5vh + 55px);
        width: max-content;
        width: var(--main-wrapper-width);

        .mobile_contact_link{
          display: flex;
        }
        a{
          color: #fff;
          font-weight: 400;
        }
      }
      .active_link {
        border-bottom: 1px solid var(--border-color);
      }

    }
    .header_links_right {
      a {
        display: none;
      }
      .menu_icon {
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        gap: 6px;
        cursor: pointer;
        &:focus,
        &:active {
          background: transparent;
        }
        .line {
          width: 20px;
          height: 1px;
          background-color: var(--text-color-cmt);
          transition: transform 0.3s ease-in-out;
        }
      }

      .menu_icon.open {
        .line:nth-child(1) {
          transform: translateY(6px) rotate(-45deg);
          position: relative;
          top: 1.5px;
        }

        .line:nth-child(2) {
          transform: translateY(6px) rotate(-45deg);
          opacity: 0;
        }

        .line:nth-child(3) {
          transform: translateY(-6px) rotate(45deg);
        }
      }
    }
  }
}
