.main_wrapper {
  width: var(--main-wrapper-width);
  height: 90%;
  // height: fit-content;
  background-color: var(--wrapper-bg-color);
  border-radius: 8px;
  border: var(--border);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .children{
    flex: 1;
    // background-color: aliceblue;
  }
}

// @media(max-width:886px){
//   .main_wrapper{
//     min-height: 90vh;
//     height: fit-content;
//   }
// }

@media(max-width:600px){
  .main_wrapper {
    height: 100%;
    // .children{
    //   height: fit-content;
    // }
  }
}