.main_wrapper {
  width: var(--main-wrapper-width);
  height: 90vh;
  background-color: var(--wrapper-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width:600px){
  .main_wrapper {
    height: var(--main-wrapper-height);
  }
}