.main_wrapper {
  width: var(--main-wrapper-width);
  height: 90vh;
  background-color: var(--wrapper-bg-color);
  border-radius: 8px;
  border: var(--border);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .children{
    flex: 1;
  }
}

// @media(max-width:886px){
//   .main_wrapper {
//     height: fit-content;
//     min-height: 90vh;
//   }
// }

@media(max-width:600px){
  .main_wrapper {
    height: var(--main-wrapper-height);
  }
}