.wrapper {
  position: relative;
  width: 530px;
  height: 490px;

  border-radius: 8px;
  border: 1px solid #0c1616;
  background: linear-gradient(
    150deg,
    rgba(23, 85, 83, 0.7) 1.7%,
    rgba(67, 217, 173, 0.09) 81.82%
  );
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
  backdrop-filter: blur(32px);
  display: flex;
  justify-content: center;
  align-items: center;

  .img_1 {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .img_2 {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .img_3 {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }
  .img_4 {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
  .game_wrapper {
    width: 85%;
    height: 85%;
    display: flex;
    gap: 24px;
    .game_section {
      flex: 1;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: rgba(1, 22, 39, 0.84);
      box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
    }
    .control_section {
      flex: 1;
      .snake_control_btns {
        // width: 100%;
        border-radius: 8px;
        background: rgba(1, 20, 35, 0.19);
        padding: 15px;
        p {
          color: #fff;
          font-size: 14px;
          font-weight: 450;
        }
        .snake_control_btns_wrapper {
          padding-top: 15px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 5px;
          grid-row-gap: 5px;
          place-items: center;
          .btn_1 {
            grid-area: 1 / 2 / 2 / 3;
          }
          .btn_2 {
            grid-area: 2 / 1 / 3 / 2;
          }
          .btn_3 {
            grid-area: 2 / 2 / 3 / 3;
          }
          .btn_4 {
            grid-area: 2 / 3 / 3 / 4;
          }
          button {
            width: 50px;
            height: 28px;
            border-radius: 8px;
            border: 1px solid #1e2d3d;
            background: #010c15;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
